<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mgtv.demo.dao.mapper.master.StudentMapper">

    <resultMap type="com.mgtv.demo.pojo.model.master.StudentDO" id="StudentResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="stud_name" property="studName" jdbcType="VARCHAR"/>
        <result column="stud_age" property="studAge" jdbcType="INTEGER"/>
        <result column="stud_sex" property="studSex" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <select id="listStudent" resultMap="StudentResult">
        SELECT id, stud_name, stud_age, stud_sex, create_time, update_time
        FROM student
        LIMIT 10
    </select>

    <select id="getStudent" parameterType="Long" resultMap="StudentResult">
        SELECT id, stud_name, stud_age, stud_sex, create_time, update_time
        FROM student
        WHERE id = #{id}
    </select>

</mapper>